<html>
    <footer>
        <a id="socials"></a>
            <div class="foot_socials">
                <a href="https://www.linkedin.com/in/lgomora/"><img class="socials" src="/assets/img/so_linkedin.svg" alt="LinkedIn"></a>
                <a href="https://github.com/lissgomo"><img class="socials" src="/assets/img/so_github.svg" alt="GitHub"></a>
            </div>
            
            <div class="foot_top">
                <a href="#home">^ Back to top</a>
            </div>
    </footer>
</html>
