<!DOCTYPE html>
<html>
<a id="top"></a>
<div class="container">
{% include head.html %}

{% include header.html %}
    
<body>
<div class="page-container">
    <div class="projects">
        <a id="projects"></a>
        <h3>Projects</h3>

        <dt><a href="https://github.com/lissgomo/view-csv-img-urls-on-gsheets">CSV URLs to GSheets Preview</a></dt>
        <dd>Language(s): Python</dd>
        <dd>Description: </dd>
        <br>
        <dt><a href="https://github.com/lissgomo/lissgomo.github.io">Portfolio Website</a></dt>
        <dd>Language(s): HTML/CSS</dd>
        <dd>Description: </dd>
        <br>
        <dt><a href="https://github.com/lissgomo/short-programs">Short Programs</a></dt>
        <dd>Language(s): Python</dd>
        <dd>Description: </dd>
    </div>
    
    <br><br>

    <div class="skills">
        <a id="skills"></a>
        <h3>Skills</h3>
        <ul>
            <li>7 years of customer service and technical support through phone, email and chat.</li>
            <li>Billingual (English/Spanish)</li>
            <!-- <li></li> -->
        </ul>
        <dl>
            <dt>LinkedIn Assessment Badges in:</dt>
            <dd>Python</dd>
            <dd>HTML</dd>
            <dd>Microsoft Word</dd>
            <dd><button id="li-btn">More..</button></dd>
            <br>
            <dt>Indeed Assesment Scores of Proficient & High Proficient</dt>
            <dd>Technical support: Customer situations</dd>
            <dd>Customer Service Skills</dd>
            <dd>Attention to detail</dd>
            <dd><button id="id-btn">More..</button></dd>
        </dl>
    </div>

    <br><br>
    
    <div class="about">
        <a id="about"></a>
        <h3>About</h3>
        
    </div>
</div>
</body>

<div id="modal-linkedin" class="modal">
    <div class="linkedin-content">
      <span class="close">&times;</span>
      <p>WORDS</p>
    </div>  
</div>

<div id="modal-indeed" class="modal">
    <div class="indeed-content">
      <span class="close">&times;</span>
      <p>WORDS</p>
    </div>  
</div>

{% include footer.html %}
</div>
</html>
